@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.visuallyhidden,
.sr_only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

.app {
	.top {
		height: 60px;
		text-align: center;
		line-height: 2.5;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ff944a;
		color: white;
	}

	.insightNotes {
		margin-left: -8px;
		margin-top: -4px;

		svg {
			height: 38px;
		}

		@media screen and (min-width: 66em) {
			margin-left: 0px;
			margin-top: 0px;
			svg {
				height: auto;
			}
		}
	}

	.bmasFooter {
		margin-bottom: 4px;
		svg {
			height: 18px;
		}

		@media screen and (min-width: 66em) {
			margin-bottom: 2px;
			height: auto;
		}
	}

	.bottom {
		width: 100%;
		padding: 10px;
		text-align: center;
		line-height: 2.5;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		background-color:#ff944a;
		color: white;
		flex-wrap: wrap;

		@media screen and (min-width: 66em) {
			padding: 6px 0;
			align-items: center;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-evenly;
		}

		> * {
			@media screen and (min-width: 66em) {
				width: auto;
			}
		}

		svg {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}

		.web,
		.mail {
			color: #fff;
			font-size: 10px;
			font-weight: 600;
			line-height: 14px;
			text-align: center;
			line-height: 2.5;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: $ms-color-themePrimary;
			gap: 9px;

			@media screen and (min-width: 66em) {
				flex-direction: row;
				line-height: 20px;
				font-size: 14px;
			}
		}
	}
}

.logo {
	display: flex;
	padding: 16px 0;
	img {
		height: 35px;
	}
}

.navbar {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.navbarUp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ff944a;
	color: white;
	padding: 0px 50px;

	.navbarUp__left {
		display: flex;
		align-items: center;

		.navbarUp__menu__left {
			font-size: 16px;
			margin-right: 20px;
			color: #fff;
			font-weight: 600;
			line-height: 20px;
			text-decoration: none;
			text-transform: uppercase;
			max-width: 150px;

			@media screen and (min-width: 66em) {
				font-size: 22px;
				line-height: 26px;
				max-width: none;
			}
		}
	}

	.links {
		display: flex;
		justify-content: center;
	
		ul {
			list-style-type: none;
			overflow: hidden;
			display: flex;
			flex-direction: row;
			margin: 0px !important; 
	
			a {
				color:white;
				text-align: center;
				padding: 20px 16px;
				text-decoration: none;
			}
	
			a:hover {
				background-color: #e8670e;
			}
		}
	}
}

.navbarBottom {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	color: #ff944a;
	padding: 0px 50px;

	svg {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}

.searchIcon {
	svg {
		width: 30px;
		@media screen and (min-width: 66em) {
			width: 34px;
		}
	}
}

a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
	justify-content: center;
	font-size: 18px;

	span {
		display: inline-block;
		margin-left: 8px;
	}
}