@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.home{
  margin: 0 2%;

  .about{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;

    .card{
      flex: 1;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
    }
  }

  .info{
    display: flex;
    flex-direction: column;

    .infoTab{
      display: flex;
      flex-direction: row;
  
      .cardTab{
        flex: 1;
        background-color: white;
        transition: background-color 0.3s ease;
  
        h1{
          font-size: 16px;
          text-align: center;
          color: #f0751f;
        }
      }
  
      .cardTab:hover{
        background-color: #f0751f;
  
        h1{
          color: white;
        }
      }
    }
  
    .infoData{
      width: 100%;
      
      .card_wrapper{
        margin-bottom: 10px;
        width: fit-content;
        overflow-x: auto;
        overflow-y: hidden;
        // min-width: 100%;
        padding: 10px;
  
        gap: 18px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  
        .card {
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          flex: 0 0 auto;
  
          box-sizing: border-box;
          padding: 10px;
  
          position: relative;
  
          border-radius: 10px;
          display: flex;
          overflow: hidden;
  
          .image_container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 200px;
            border-radius: 5%;
            img {
              border-radius: 5%;
              max-width: 100%;
              max-height: 100%;
              object-fit: contain;
              align-self: center;
            }
          }
  
          .container {
            display: block;
            flex-direction: column;
            flex: 1;
            padding: 10px;
            width: 200px;
            justify-content: space-between;
            .upper {
              display: flex;
              flex-direction: column;
              gap: 2px;
              h3 {
                color: red;
              }
              p {
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                overflow: hidden;
              }
            }
            .lower {
              display: flex;
              justify-content: space-between;
              align-items: center;
  
              a {
                flex: 0 1 auto;
                white-space: nowrap;
                margin-right: 10px;
              }
  
              small {
                font-size: 11px;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}

