@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.List {
  margin: 2%;

  .SearchSort {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;

    .Search {
      flex-grow: 2;
    }

    .DateFilter {
      flex-grow: 2;
    }
  }


  .Data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .Card {
      box-sizing: border-box;
      padding: 10px;
      border-radius: 8px; 
      box-shadow: 0 4px 8px rgba(255, 148, 74, 0.5);

      img {
        width: 100%;
        border-radius: 8px;
      }

      .btn {
        padding: 10px;
        color: white;
        background-color: #ff944a;
        border-radius: 8px;
      }
    }
  }
}