@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.banner {
  margin: 2%;
  text-align: center;
  display: flex;
  flex-direction: row;

  .bannerLeft {
    flex: 1;
    text-align: left;
    margin: auto;

    h1 {
      font-size: 32px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
    }

    .colorText {
      color: #ff944a;
    }
  }

  .bannerRight {
    flex: 1.2;
    box-sizing: border-box;

    img {
      width: 100%;
    }
  }
}