@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.Detail {
  margin: 2%;
  
  .DetailHeader {
    font-size: 20px;

    a {
      color: black;
    }
  }

  .DetailBody {
    
    .BodyContent {
      
      .ContentTitle {
        margin: 20px 0;
        font-size: 24px;
        display: flex;
        justify-content: space-between;

        .author {
          font-size: 16px;
        }
      }

      .ContentDetail {
        font-size: 16px;
      }
    }
  }
}