@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.form_pengajuan{
  display: flex;
  justify-content: space-between;
  margin: 0 2%;
  
  .box{
    width: 50%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;

    img {
      width: 100%;
      height: auto; 
      display: block; 
    }

    .title {
      max-width: 400px;
      margin: auto;
      padding: 20px 20px 0px 20px;

      h1 {
        color: #ff944a;
        margin: 0px;
      }
  
      p {
        color: gray;
        margin: 0px;
      }
    }

    .form{
      max-width: 400px;
      margin: auto;
      padding: 20px;

      label {
        display: block;
        margin-bottom: 8px;
      }

      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        background-color: #ff944a;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }

      input:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
